body {
  font-family: "Bebas Neue", cursive;
  margin: 0;
}

a {
  color: #000000;
}

.hidden {
  display: none;
}

.maxHeight {
  height: 100vh;
}
/* === Nav === */
.main-name {
  background-color: #fff;
  height: 3.7rem;
}

.main-name h1 {
  font-size: 64px;
  margin: 0;
}

.nav-desktop-text {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  transition: transform 1s ease-out;
}

.nav-desktop-projects,
.nav-desktop-about {
  position: fixed;
  right: 0;
  transform: rotate(-90deg);
  width: 10%;
}

.nav-desktop-projects {
  top: 20%;
}

.nav-desktop-about {
  bottom: 20%;
}

.projBtn:hover,
.abtBtn:hover {
  cursor: pointer;
  transform: translateY(-10px);
  font-size: 42px;
}

/* === Main Banner === */
.banner-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 93%;
  overflow: hidden;
  z-index: -1;
}

main img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* ===================== */
/* === About Overlay === */
/* ===================== */

/* === Layout === */
.about-overlay {
  display: flex;
  flex-direction: row;
}

.info-image-container {
  width: 45%;
  height: 100%;
  overflow: hidden;
}

.info-section-container {
  text-align: right;
  padding-right: 1rem;
  width: 55%;
}

/* === Styling Image === */
.info-image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* === Styling Info === */
.info-section-container .main-name {
  display: inline-block;
  font-family: "Bebas Neue", cursive;
  font-size: 64px;
  margin: 0;
}

.main-bio {
  font-weight: 600;
  margin-left: auto;
  width: 50%;
}

.phone-number,
.email,
.instagram {
  position: absolute;
  display: inline-block;
  font-family: "Bebas Neue", cursive;
  margin: 0;
  font-size: 6rem;
}

.phone-number {
  left: 15%;
  bottom: 21rem;
}
.email {
  left: 29%;
  bottom: 15rem;
}

.instagram {
  left: 20%;
  bottom: 9rem;
}
