body {
  font-family: "Bebas Neue", monospace;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
}

/* === Nav === */
nav {
  position: relative;
  height: 5rem;
  width: 100%;
}

.back-btn {
  margin: 0;
  top: 0;
  left: 0;
}

.back-btn a {
  color: #000000;
  text-decoration: none;
  font-size: 10vw;
  font-weight: bold;
}

.previous-album,
.next-album {
  color: #000000;
  text-decoration: none;
  font-size: 5vw;
}

.back-btn a:hover,
.previous-album:hover,
.next-album:hover {
  text-decoration: underline;
}

/* .about-btn {
  right: 1rem;
}

.photo-btn {
  right: 7rem;
}

.film-nav a {
  color: #000000;
  font-size: 36px;
  text-decoration: none;
} */

nav div {
  display: inline-block;
  position: absolute;
  top: 1rem;
}

/* === Layout === */
.album-container {
  display: grid;
  grid-gap: 0.6rem;
  padding: 0 4.5vw;
}

.album-info {
  grid-row: 1 / 2;
  font-family: monospace;
  font-size: 1rem;
  position: relative;
  padding-bottom: 1.5rem;
}

.album-info > h1 {
  font-family: "Bebas Neue", monospace;
  font-size: 13vw;
  margin: 0;
}

.album-info a {
  position: absolute;
  bottom: 0;
}

.next-album {
  font-family: "Bebas Neue", monospace;
  right: 0;
}

.previous-album {
  font-family: "Bebas Neue", monospace;
}

@media screen and (min-width: 768px) {
  .album-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .back-btn a {
    font-size: 7vw;
  }
}

@media screen and (min-width: 1024px) {
  .album-container {
    grid-gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
  }

  .album-info > h1 {
    font-size: 5vw;
  }

  .previous-album,
  .next-album {
    font-size: 2.5vw;
  }

  .back-btn a {
    font-size: 64px;
  }
}

.photo-container img {
  position: relative;
  left: -100%;
  opacity: 0;
  object-fit: cover;
}

.grid-span-2 {
  grid-column: span 2;
}

/* === Animations === */
.animateSlideIn1 {
  animation: 1.5s ease-out 1s 1 slideRight forwards;
}

.animateSlideIn2 {
  animation: 1.5s ease-out 1.7s 1 slideRight forwards;
}

.animateSlideIn3 {
  animation: 1.5s ease-out 2.5s 1 slideRight forwards;
}

.animateSlideIn4 {
  animation: 1.5s ease-out 3.4s 1 slideRight forwards;
}
/* Slide/Fade-out animations */
/* .animateSlideOut1 {
  animation: 1.5s ease-out 3.5s 1 slideLeft forwards;
}  */

@keyframes slideRight {
  0% {
    opacity: 0%;
  }
  20% {
    opacity: 10%;
  }
  100% {
    transform: translateX(100%);
    opacity: 100%;
  }
}

@keyframes slideLeft {
  0% {
    left: 0;
    opacity: 100%;
  }
  80% {
    opacity: 10%;
  }
  100% {
    opacity: 0%;
  }
}
