body {
  font-family: "Bebas Neue", cursive;
  margin: 0;
}

.hidden {
  display: none;
}

/* === Layout === */
.project-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.hover-images {
  height: 100vh;
  width: 100%;
}

nav {
  position: absolute;
}

@media screen and (min-width: 1024px) {
  
  main {
    display: flex;
  }

  .project-links {
    text-align: right;
    margin: 0;
    width: 50%;
  }

  .hover-images {
    display: flex;
    align-items: center;
    width: 50%;
  }
}

/* === Image styling === */
img {
  height: 50%;
}

@media screen and (min-width: 1024px) {
  img {
    margin-left: 1rem;
    height: 70%;
  }
}

/* === Links styling === */
a {
  color: #000000;
  display: inline-block;
  text-decoration: none;
  font-size: 10vw;
}

a:hover,
a:active {
  text-decoration: underline;
}

nav h1 {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  nav h1 {
    font-size: 64px;
  }

  a {
    font-size: 6rem;
    margin-right: 1rem;
  }
}