body {
  font-family: "Bebas Neue", cursive;
  margin: 0;
}

.hidden {
  display: none;
}

/* === Layout === */
.project-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
}

.hover-images {
  height: 100vh;
  width: 100%;
}

nav {
  position: absolute;
  z-index: 5;
}

@media screen and (min-width: 1024px) {
  main {
    display: flex;
  }

  .project-links {
    text-align: right;
    margin: 0;
    position: static;
    left: 0;
    transform: translateX(0);
    width: 50%;
  }

  .hover-images {
    display: flex;
    align-items: center;
    width: 50%;
  }
}

/* === Image styling === */
img {
  height: 50%;
  position: relative;
  top: 60%;
  transform: translate(-50%, -50%);
  left: 50%;
}

@media screen and (min-width: 1024px) {
  img {
    margin-left: 1rem;
    height: 70%;
    position: static;
    top: 0;
    transform: translateY(0);
  }
}

/* === Links styling === */
a {
  color: #000000;
  display: inline-block;
  text-decoration: none;
  font-size: 15vw;
}

a:hover,
a:active {
  text-decoration: underline;
}

nav h1 {
  font-size: 10vw;
  margin: 0;
}


@media screen and (min-width: 360px) {
  a {
    font-size: 12vw;
  }
}

@media screen and (min-width: 445px) {
  a {
    font-size: 10.5vw;
  }
}

@media screen and (min-width: 530px) {
  a {
    font-size: 8.5vw;
  }
}

@media screen and (min-width: 670px) {
  a {
    font-size: 7.5vw;
  }
}

@media screen and (min-width: 768px) {
  nav h1 {
    font-size: 7vw;
  }

  a {
    font-size: 6.5vw;
  }
}

@media screen and (min-width: 900px) {
  a {
    font-size: 5.5vw;
  }
}

@media screen and (min-width: 1024px) {
  nav h1 {
    font-size: 64px;
  }

  a {
    font-size: 6rem;
    margin-right: 1rem;
  }
}
